<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="static/css/spectre.min.css">
  <script src="static/js/jscolor.js"></script>
  <script type="application/javascript">

    var existing_animation = JSON.parse('{{ animation_data | tojson | safe}}');


    const pixel_grid_x = 35 // number of pixels along width 
    const pixel_grid_y = 7 // number of pixels along height
    const pixel_screen_multiplier = 20 // how many screen pixels to one real world pixel

    var canvas;
    var frame_store = [];
    var animation_name = "";
    var current_frame_number = 0;
    var current_colour = "";

    function draw_grid_from_pixels() {
      // Draw out the currently stored pixels in the current frame onto the browser canvas
      var ctx = canvas.getContext('2d');
      ctx.fillStyle="#000000";
      ctx.fillRect(0,0, canvas.width, canvas.height);
      
      for (var pixel_y = 0; pixel_y < pixel_grid_y; pixel_y++){
        for (var pixel_x = 0; pixel_x < pixel_grid_x; pixel_x++){
          var current_frame = frame_store[current_frame_number];
          if (current_frame[pixel_x][pixel_y] !== "0,0,0") {
            ctx.fillStyle="rgb(" + current_frame[pixel_x][pixel_y] + ")";
            ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
          } else {
            ctx.fillStyle="#000000";
            ctx.strokeStyle="#FFFFFF";
            ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
            ctx.strokeRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
          }
        }
      }
    }

    function init_pixel_grid() {
      // Initialise a blank (all black) grid of pixels
      var blank_pixel_grid = [];
      for (var x = 0; x < pixel_grid_x; x++){
        blank_pixel_grid[x] = [];
        for (var y = 0; y < pixel_grid_y; y++){
          blank_pixel_grid[x][y]="0,0,0";
        }
      }
      return blank_pixel_grid;
    }

    function shift_pixel_grid_right(){
      // Shift all pixels to the right
      var new_array = frame_store[current_frame_number].slice(0, -1);
      new_array.splice(0, 0, frame_store[current_frame_number][pixel_grid_x - 1]);
      frame_store[current_frame_number] = new_array;
    }

    function doMouseDown(event) {
      // Handle mouse down event on the canvas
      var rect = canvas.getBoundingClientRect();
      var screen_x = event.clientX - rect.left;
      var screen_y = event.clientY - rect.top;
      var pixel_x = Math.floor(screen_x/pixel_screen_multiplier)
      var pixel_y = Math.floor(screen_y/pixel_screen_multiplier)
      //console.log("X:" + Math.floor(clicked_x/20) + ", Y:" + Math.floor(clicked_y/20) + ", was clicked");
      var ctx = canvas.getContext('2d');
      if (frame_store[current_frame_number][pixel_x][pixel_y] === "0,0,0") {
        frame_store[current_frame_number][pixel_x][pixel_y] = current_colour;
        ctx.fillStyle = "rgb(" + current_colour + ")";
        ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
      } else {
        ctx.fillStyle="#000000";
        ctx.strokeStyle="#FFFFFF";
        frame_store[current_frame_number][pixel_x][pixel_y] = "0,0,0";
        ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
        ctx.strokeRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
      }
    }

    function set_current_colour(rgb_colour_array) {
      current_colour = rgb_colour_array.map(Math.round).join();
    }

    function init() {
      // Init the JS app

      canvas = document.getElementById('canvas');
      canvas.addEventListener('mousedown', doMouseDown);

      var name_input = document.getElementById("animation_name");

      if (existing_animation.name === undefined) {
        frame_store[current_frame_number] = init_pixel_grid();
      } else {
        frame_store = existing_animation.frames;
        animation_name = existing_animation.name;
        document.getElementById('animation_name').value = animation_name;
      }

      draw_grid_from_pixels();
    }

    function shift_right() {
      // shift pixels and refresh the UI
      shift_pixel_grid_right();
      draw_grid_from_pixels();
    }

    function load_next_frame() {
      if (frame_store.length - 1 === current_frame_number) {
        // We are at the end of the frames
        console.log("No more frames! Maybe make a new one?")
      }
      else {
        current_frame_number++;
      }
      draw_grid_from_pixels();
    }

    function load_previous_frame() {
      current_frame_number--;
      draw_grid_from_pixels();
    }

    function make_new_frame() {
      frame_store[current_frame_number + 1] = init_pixel_grid();
    }

    function send_animation() {
      var animation = {frames:frame_store, name:animation_name}
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/save-animation", true);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify(animation));
    }

    function update_animation_name(value) {
      animation_name = value;
    }

  </script>
 </head>
 <body onload="init();">
  <div class="container centered" style="width:80%;">

   <div class="columns col-oneline">
    <div class="column col-3"><button style="width: 100%" onclick="make_new_frame()">Create New Frame</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="load_previous_frame()">Previous Frame</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="load_next_frame()">Next Frame</button></div>
   </div>
   <div class="columns">
    <div class="column col-12">
     <canvas class="centered" id="canvas" width="700" height="140"></canvas>
    </div>
   </div>
   <div class="columns col-oneline">
    <div class="column col-1"><input class="jscolor {onFineChange:'set_current_colour(this.rgb)'}" value="cc66ff" style="width: 100%"></div>
    <div class="column col-1"><button style="width: 100%" onclick=""></button></div>
    <div class="column col-1"><button style="width: 100%" onclick=""></button></div>
   </div>
   <div class="columns col-oneline">
    <div class="column col-3"><button style="width: 100%" onclick="">Button</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="">Button</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="">Button</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="shift_right()">shift right</button></div>
   </div>
   <hr>
   <div class="columns col-oneline"></div>
    <div class="column col-3"><a class="btn" href="/">Animation List</a></div>
    <div class="column col-1"></div>
    <div class="column col-5"><label>Name</label><input id="animation_name" type="text" onchange="update_animation_name(this.value)"></input>
    <div class="column col-3"><a class="btn" onclick="send_animation()">Save Animation</a></div>
   </div>
  </div> 
 </body>
</html>