<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="static/css/spectre.min.css">
  <script src="static/js/jscolor.js"></script>
  <script type="application/javascript">

    const pixel_grid_x = 35 // number of pixels along width 
    const pixel_grid_y = 7 // number of pixels along height
    const pixel_screen_multiplier = 20 // how many screen pixels to one real world pixel

    var canvas;
    var pixel_grid = [];
    var frame_store = [];
    var current_frame = 0;
    var current_colour = "";

    function draw_blank_grid() {
      // Draw a blank grid in the canvas
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');

        ctx.fillStyle="#000000";
        ctx.fillRect(0,0, canvas.width, canvas.height);
        ctx.strokeStyle="#FFFFFF";
        for (var y = 0; y < pixel_grid_y; y++){
          for (var x = 0; x < pixel_grid_x; x++){
            ctx.strokeRect(x*pixel_screen_multiplier, y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
          }
        }
      }
    }

    function draw_grid_from_pixels() {
      // Draw out the currently stored pixels in the current frame onto the browser canvas
      var ctx = canvas.getContext('2d');
      ctx.fillStyle="#000000";
      ctx.fillRect(0,0, canvas.width, canvas.height);
      
      for (var pixel_y = 0; pixel_y < pixel_grid_y; pixel_y++){
        for (var pixel_x = 0; pixel_x < pixel_grid_x; pixel_x++){
          if (pixel_grid[pixel_x][pixel_y] !== "0,0,0") {
            ctx.fillStyle="rgb(" + pixel_grid[pixel_x][pixel_y] + ")";
            ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
          } else {
            ctx.fillStyle="#000000";
            ctx.strokeStyle="#FFFFFF";
            ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
            ctx.strokeRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
          }
        }
      }
    }

    function init_pixel_grid() {
      // Initialise a blank (all black) grid of pixels
      var blank_pixel_grid = [];
      for (var x = 0; x < pixel_grid_x; x++){
        blank_pixel_grid[x] = [];
        for (var y = 0; y < pixel_grid_y; y++){
          blank_pixel_grid[x][y]="0,0,0";
        }
      }
      return blank_pixel_grid;
    }

    function init_frame_store() {
      // Init the frame store
      frame_store[0] = pixel_grid;
    }

    function shift_pixel_grid_right(){
      // Shift all pixels to the right
      new_array = pixel_grid.slice(0, -1);
      new_array.splice(0, 0, pixel_grid[pixel_grid_x - 1]);
      pixel_grid = new_array;
    }

    function doMouseDown(event) {
      // Handle mouse down event on the canvas
      var rect = canvas.getBoundingClientRect();
      var screen_x = event.clientX - rect.left;
      var screen_y = event.clientY - rect.top;
      var pixel_x = Math.floor(screen_x/pixel_screen_multiplier)
      var pixel_y = Math.floor(screen_y/pixel_screen_multiplier)
      //console.log("X:" + Math.floor(clicked_x/20) + ", Y:" + Math.floor(clicked_y/20) + ", was clicked");
      var ctx = canvas.getContext('2d');
      if (pixel_grid[pixel_x][pixel_y] === "0,0,0") {
        pixel_grid[pixel_x][pixel_y] = current_colour;
        ctx.fillStyle = "rgb(" + current_colour + ")";
        ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
      } else {
        ctx.fillStyle="#000000";
        ctx.strokeStyle="#FFFFFF";
        pixel_grid[pixel_x][pixel_y] = "0,0,0";
        ctx.fillRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
        ctx.strokeRect(pixel_x*pixel_screen_multiplier, pixel_y*pixel_screen_multiplier, pixel_screen_multiplier, pixel_screen_multiplier);
      }
    }

    function set_current_colour(rgb_colour_array) {
      current_colour = rgb_colour_array.map(Math.round).join();
    }

    function init() {
      // Init the JS app
      canvas = document.getElementById('canvas');

      draw_blank_grid();
      pixel_grid = init_pixel_grid();
      init_frame_store()
      canvas.addEventListener('mousedown', doMouseDown);
    }

    function shift_right() {
      // shift pixels and refresh the UI
      shift_pixel_grid_right();
      draw_grid_from_pixels();
    }

    function load_next_frame() {
      if (frame_store.length - 1 === current_frame) {
        // We are at the end of the frames
        console.log("No more frames! Maybe make a new one?")
      }
      else {
        current_frame++;
        pixel_grid = frame_store[current_frame];
      }
      draw_grid_from_pixels();
    }

    function load_previous_frame() {
      current_frame--;
      pixel_grid = frame_store[current_frame];
      draw_grid_from_pixels();
    }

    function make_new_frame() {
      frame_store[current_frame + 1] = init_pixel_grid();
    }

    function send_animation() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "127.0.0.1:5000/postdata", true);
      xhttp.send("{\"bob\":\"fish\"}");
    }

  </script>
 </head>
 <body onload="init();">
  <div class="container centered" style="width:80%;">

   <div class="columns col-oneline">
    <div class="column col-3"><button style="width: 100%" onclick="make_new_frame()">Create New Frame</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="load_previous_frame()">Previous Frame</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="load_next_frame()">Next Frame</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="send_animation()">Save Animation</button></div>
   </div>
   <div class="columns">
    <div class="column col-12">
     <canvas class="centered" id="canvas" width="700" height="140"></canvas>
    </div>
   </div>
   <div class="columns col-oneline">
    <div class="column col-1"><input class="jscolor {onFineChange:'set_current_colour(this.rgb)'}" value="cc66ff" style="width: 100%"></div>
    <div class="column col-1"><button style="width: 100%" onclick=""></button></div>
    <div class="column col-1"><button style="width: 100%" onclick=""></button></div>
   </div>
   <div class="columns col-oneline">
    <div class="column col-3"><button style="width: 100%" onclick="">Button</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="">Button</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="">Button</button></div>
    <div class="column col-3"><button style="width: 100%" onclick="shift_right()">shift right</button></div>
   </div>
  </div> 
 </body>
</html>